


  
 <div class="container mt-4">
  <h2>Add Igisokozo</h2>
  <form [formGroup]="ibisokozoForm" (ngSubmit)="addIgisokozo()">
    <div class="form-group">
      <label for="igisokozo">Igisokozo</label>
      <input
      [disabled]="isSubmitting"
        type="text"
        class="form-control"
        id="igisokozo"
        formControlName="igisokozo"
      />
      <div
        *ngIf="
          ibisokozoForm.value.igisokozo.invalid &&
          (ibisokozoForm.value.igisokozo.dirty ||
            ibisokozoForm.value.igisokozo.touched)
        "
        class="text-danger"
      >
        Igisokozo is required.
      </div>
    </div>
    <div class="form-group">
      <label for="inyishu">Inyishu</label>
      <input
      [disabled]="isSubmitting"
        type="text"
        class="form-control"
        id="inyishu"
        formControlName="inyishu"
      />
      <div
        *ngIf="
          ibisokozoForm.value.inyishu.invalid &&
          (ibisokozoForm.value.inyishu.dirty ||
            ibisokozoForm.value.inyishu.touched)
        "
        class="text-danger"
      >
        Inyishu is required.
      </div>
    </div>
    <button
type="submit"
class="btn btn-primary"
[disabled]="ibisokozoForm.invalid || isSubmitting"
>
<span *ngIf="isSubmitting" class="spinner-border spinner-border-sm"></span>
<span *ngIf="!isSubmitting">Submit</span>
</button>

  </form>
</div>
